/* Farve variabler */
/* Farverne er bare placeholders, jeg synes det var svært at finde et godt colorscheme */
:root {
    --white: #fbf7f7;
    --red: #dc4712;
    --beige: #f1e9e3;
    --orange: #ee712b;
}