.infoVindue{
    margin: auto;
    align-items: start;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            "box-1 box-1"
            "box-2 box-3";
    background-color: var(--white);
    border: 1px solid;
    border-radius: 5px;
    max-width: 1000px;
}

.titel{
    text-align: center;
}

/* Venstre side */
.infoVenstre{
    display: grid;

}

/* Logo */
.spilLogo{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;

    justify-self: center;
    align-self: start;
}

/* Grouping af spil knap og drukregel checkbox */
.infoVenstreKnapper{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 160px;
}

/* "Spil" knap" */
.Spil{
    width: 60%;
    height: 70%;
    justify-self: center;
    align-self:center;
    background-color: var(--red);
}

/* "Drukregler" checkbox */
.drukregler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Højre side */
.infoHøjre{
    display: grid;
    grid-gap: 10px;
    padding-right: 50px;
}

/* feltet for h3 titlerne i højre side */
.infoFelt{
    margin: 15px 0;
    background-color: var(--beige);
    align-self: center;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}

/* Container for kort regelsæt og læs mere knap */
.regelsætContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    border: 1px solid;
    border-radius: 5px;
    align-self: center;
    gap: 5px;
}

/* kort regeltekst */
.kortRegelsæt{
    align-self: center;

    text-align: center;
    padding: 10px;
}

/* Læs mere knap */
.læsMere{
    width: 60%;
    height: 50px;
    margin-top: 20px;
    justify-self: center;
    align-self:center;
    background-color: var(--orange);
}


/* Generelt buttons */
button{
    border-radius: 1px;
    font-weight: bold;
}

/* test til at visualisere divs */
div{
    border-width: 0px;
    border-color: black;
    border-style: solid;
}


