.infoVindue{
    margin: auto;
    align-items: start;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            "box-1 box-1"
            "box-2 box-3";
    border: 1px solid;
    border-radius: 5px;
    max-width: 1000px;
}

.læsMereVindue{
    margin: auto;
    align-items: center;
    display: grid;
    grid-gap: 10px;
    grid-template-areas:
            "box-0 box-0 box-0"
            "box-1 box-1 box-1"
            "box-2 box-3 box-4"
            "box-5 box-5 box-5";
}

.titel{
    text-align: center;
    color: var(--text);
    font-family: UnifrakturCook, Old English Text MT, fantasy;
    font-size: 100px;
    margin: -25px;
}

/* Venstre side */
.infoVenstre{
    display: grid;
}

.billede-læsMere{
    display: grid;
    align-content: center;
    width: 100%;
    height: 100%;
}

/* Logo */
.spilLogo{
    max-width: 80%;
    max-height: 80%;
    width: auto;
    height: auto;
    object-fit: contain;

    justify-self: center;
    align-self: center;
}

/* Grouping af spil knap og drukregel checkbox */
.infoVenstreKnapper{
    margin: 0 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 160px;
    color: var(--text);
}

/* "Spil" knap" */
.Spil{
    width: 60%;
    height: 70%;
    justify-self: center;
    align-self:center;
    background-color: var(--button);
    color: var(--beige);
}

/* "Drukregler" checkbox */
.drukregler{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Højre side */
.infoHøjre{
    display: grid;
    grid-gap: 10px;
    padding-right: 50px;
}

/* feltet for h3 titlerne i højre side */
.infoFelt{
    margin: 15px 0;
    background-color: var(--box);
    align-self: center;
    text-align: center;
    border-style: ridge;
    border-width: 3px;
    width: 100%;
    color: var(--text);
    border-color: var(--faded);
}

/* Container for kort regelsæt og læs mere knap */
.kortRegelsætContainer{
    display: flex;
    flex-direction: column;
    background-color: var(--box);
    border-style: ridge;
    border-width: 3px;
    align-self: center;
    gap: 5px;
    color: var(--text);
    border-color: var(--faded);
    width: 100%;
}

.langtRegelsætContainer{
    background-color: var(--box);
    border-style: ridge;
    border-width: 3px;
    align-self: center;
    gap: 5px;
    color: var(--text);
    border-color: var(--faded);
    width: 1fr;
    margin: 20px;
}

/* kort regeltekst */
.regelSæt{
    align-self: center;

    text-align: center;
    padding: 10px;
}

/* lang regeltekst */
.regelSæt{
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
    font-size: medium;
}

.regler-titel{
    text-align: center;
    font-size: xx-large;
    color: var(--text);
}

/* Læs mere knap */
.læsMereLink{
    width: 60%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-self: center;
    align-self:center;
    background-color: var(--button);
    text-align: center;
    padding-top: 10px;
    color: var(--text);
    border-style: ridge;
    border-width: 3px;
    border-color: var(--faded);
    border-radius: 10px;
    font-weight: bold;
}

.tilbage-knap{
    color: var(--text);
    padding: 0px 7px 2px 7px;
    width: fit-content;
    margin: 5px 5px 5px 5px;
}

/* Generelt buttons og anchors*/
button{
    border-radius: 10px;
    font-weight: bold;
    border-style: ridge;
    border-width: 3px;
    border-color: var(--faded);
}

/* test til at visualisere divs */
div{
    border-width: 0px;
    border-color: black;
    border-style: solid;
}


