<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret bruger</title>
    <link rel="stylesheet" href="/css/colors.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/customStyle.css">
</head>
<body class="background center">

<div class="register">
    <form class="formula" method="POST" action="/register">

        <label for="username">Ønsket brugernavn</label>
        <input type="text" id="username" placeholder="Brugernavn" name="username" required>

        <label for="password">Password</label>
        <input type="password" id="password" placeholder="Password" name="password" required>

        <label for="password-repeat">Gentag password</label>
        <input type="password" id="password-repeat" placeholder="Password" name="password-repeat" required>

        <button type="submit">Opret bruger</button>
    </form>
    <div class="errorMessage" th:unless="${session.errorMessage == null}">
        <p th:text="${session.errorMessage}">Fejlbesked</p>
    </div>

</div>

</body>
</html>